Flask==2.3.3
blinker==1.6.2
click==8.1.7
colorama==0.4.6
Flask-HTTPAuth==4.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
PyJWT==2.8.0
Werkzeug==2.3.7
blinker==1.6.2
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
Flask==2.3.3
Flask-HTTPAuth==4.8.0
-e git+https://github.com/warmachine028/flask-server.git@0e1792cb67c36d6a9304f2cc005f0409cd956cc0#egg=flask_server&subdirectory=src
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
platformdirs==3.10.0
PyJWT==2.8.0
virtualenv==20.24.5
Werkzeug==2.3.7
blinker==1.6.2
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
Flask==2.3.3
Flask-HTTPAuth==4.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
platformdirs==3.10.0
PyJWT==2.8.0
virtualenv==20.24.5
Werkzeug==2.3.7
